/* ---------------------------------- Sidebar ---------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar {
    background: #242582;
    color: #fff;
    transition: all 0.3s;
    text-align: center;
}

#sidebar .sidebar-header {
    height: 80px;
    padding-top: 20px;
    background: #191956;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #f64c72;
    background: #fff;
}

#sidebar ul li form {
    padding: 10px;
    display: block;
    color: #fff;
}

#sidebar input{
    -moz-appearance: none;
}

#sidebar ul li form:hover {
    color: #f64c72;
    background: #fff;
}


#sidebarCollapse{
    background-color: #f64c72;
    height: 25px;
    width: 60px;
    color: #fff;
    font-size: 16px;
    padding-top: 0px;
}

#sidebarCollapse:hover{
    background-color: #191956;
}

/* ---------------------------------- Content ---------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

h2{
    font-size: 30px;
}

tr a:link,
tr a:visited,
tr a:active {
    color: black;
    text-decoration: none;
}

tr a:hover {
    color: #f64c72;
    text-decoration: none;
}

/* ---------------------------------- Buttons ---------------------------------- */
.submitAdmin{
    margin-top: 10px;
    background-color: #f64c72;
    color: #fff;
}
