#howItWorksButton{
	border-style: solid;
	border-width: medium;
	text-align: center;
	border-bottom: 0px;
	border-right: 0px;
}
#sellButton{
	border-style: solid;
	border-width: medium;
	text-align: center;
	border-right: 0px;
}
#myAccountButton{
	border-style: solid;
	border-width: medium;
	text-align: center;
}
