/* ----------------------------- Message Board ----------------------------- */
#message-board{
    max-height: 75%;
    overflow:auto;
    background-color:white;
    scrollbar-base-color:gold;
}

#message-box{
    width: 100%;
}

#message-admin{
    background-color: rgba(0,0,0,.03);
}

#message-user{
    text-align: right;
    background-color: #d8c3d2;
}

.btnsubmit{
    background-color: #F64C72;
    color: #FFFFFF;
}

.btnsubmit:hover{
    background-color: #242582;
    color: #FFFFFF;
}

td span{
    font-size: 10px;
}




/* ----------------------------- Item Offers ----------------------------- */
.accordion button{
    color: #2F2FA2;
    font-weight: bold;
}

.accordion button:hover{
    color: #F64C72;
    font-weight: bold;
}

#submitDelete, #acceptOffer {
    color: #99738E;
}

#submitDelete{
    margin-bottom: 0.8%;
}
