#howItWorksButton{
	border-style: solid;
	border-width: medium;
	text-align: center;
	border-right: 0px;
}
#sellButton{
	border-style: solid;
	border-width: medium;
	text-align: center;
}
#myAccountButton{
	border-style: solid;
	border-width: medium;
	text-align: center;
	border-bottom: 0px;
	border-left: 0px;
}

.btnsubmit{
    background-color: #F64C72;
    color: #FFFFFF;
}

.btnsubmit:hover{
    background-color: #99738E;
    color: #FFFFFF;
}


/* ----------------------------- Message Board ----------------------------- */
#message-board{
    max-height: 75%;
    overflow:auto;
    background-color:white;
    scrollbar-base-color:gold;
}

#message-box{
    width: 100%;
}

#message-admin{
    background-color: #e5e7e9;
}

#message-user{
    text-align: right;
    background-color: #99738E;
}




/* ----------------------------- Offers ----------------------------- */
.accordion button{
    color: #2F2FA2;
    font-weight: bold;
}

.accordion button:hover{
    color: #242582;
}


/* ----------------------------- Items ----------------------------- */
#submitDelete{
    
}
