#howItWorksButton{
	border-style: solid;
	border-width: medium;
	text-align: center;
}
#sellButton{
	border-style: solid;
	border-width: medium;
	text-align: center;
}
#myAccountButton{
	border-style: solid;
	border-width: medium;
	text-align: center;
}
