html {
  position: relative;
  min-height: 100%;
}

body{
    padding-top: 55px;
    padding-bottom: 80px;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* ----------------------------- Navigation Bar -----------------------------*/
.navbar {
	background-color: #2F2FA2 !important;
}

/* ----------------------------- Header log in  ----------------------------- */
.navbar li {
    list-style-type:none;
}

/* ----------------------------- Header user panel  ----------------------------- */
.navbar li {
    list-style-type:none;
}

/* ----------------------------- User Navigation Bar -----------------------------*/
.userNavbar{
    width: 100%;
    background-color: #797d7f;
    color: #ffffff;
}

.userNavbar:hover{
    background-color: #474a4b;
    color: #ffffff;
}
